html {
	font-size: 10px;
}

body {
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

#video {
    width: 64rem;
    height: 48rem;
    background: rgba(255,255,255,0.5);
    border: 1px solid #ccc;
}

#canvas {
    width: 64rem;
    height: 48rem;
}

.grayscale {
    -webkit-animation: grey_anim 7s infinite; /* Chrome, Safari, Opera */
    animation: grey_anim 7s infinite;
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.sepia {
    filter: sepia(1);
    -moz-filter: sepia(1);
    -webkit-filter: sepia(1);
}

.blur {
    filter: blur(2px);
    -moz-filter: blur(2px);
    -webkit-filter: blur(2px);
}

.hue_rotate {
    filter: hue-rotate(100deg);
    -moz-filter: hue-rotate(100deg);
    -webkit-filter: hue-rotate(100deg);

}

.hue_rotate1 {
    filter: hue-rotate(270deg);
    -moz-filter: hue-rotate(270deg);
    -webkit-filter: hue-rotate(270deg);
}

.hue_rotate2 {
    filter: hue-rotate(150deg);
    -moz-filter: hue-rotate(150deg);
    -webkit-filter: hue-rotate(150deg);
}

.invert {
    filter: invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
}

/*
** HEADER
*/

.navbar {
	width: 100%;
	background: #2699FB;
	padding: 2.5rem 0;
}

.menu_icon, .profile_icon {
	width: 1.4rem;
	height: 1.2rem;
}

.camagru_logo {
	width: 8.0rem;
	height: 2.0rem;
	transition: 10s;
	transition-timing-function: ease-in-out;
	-webkit-transition: 10s;
	-webkit-transition-timing-function: ease-in-out;
}

.camagru_logo:hover .a,
.menu_icon:hover .a,
.profile_icon:hover .a{
	fill: #00F6FF;
}


.header__links {
	display: flex;
	justify-content: space-between;
	flex: 1;
	list-style: none;
	font-size: 1.6rem;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #00F6FF;
}


.register_btn {
	width: 8rem;
	height: 5rem;
	border: 1px solid #fff;
	padding: 1rem 2rem;
}

.register_btn:hover {
	border: 1px solid #00F6FF;
}

.profile {
	position: relative;

}

.block {
	display: inline-block;
}

.profile_icon {
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.profile__dropdown {
	display: none;
	color: #fff;
	font-size: 1.3rem;
	position: absolute;
	list-style-type: none;
	background-color: #2699FB;
	top: 0.5rem;
	padding: 5.1rem 1.5rem 2.5rem 3rem;
	right: 4rem;
	text-align: right;
	z-index: 1;
}

.register {
	font-size: 1.3rem;
}

.dropdown__item {
	margin-bottom: 4rem;
}

.profile:hover .profile__dropdown {
	display: block;

}

/*
** FOOTER
*/

